extends layout

block content
    br
    div(style="text-align: center;")
            div(style="display: inline-block; width: 282px; padding: 15px 30px 30px; margin: auto; background-color: #ffffff; border: 1px solid rgba(0, 0, 0, 0.1);")
                if citation
                    h4(style="margin-bottom: 20px;") Formatted citation
                    hr
                    include templatecitation.jade
                    hr
                else if citations
                    h4(style="margin-bottom: 20px;") Formatted citations
                    hr
                    each citation in citations
                        include templatecitation.jade
                        hr
                form(action="/cite", method="get")
                    button(type="submit", class="btn btn-primary", style="width:85%; margin: auto;") Back