extends layout

block content
    br
    div(style="text-align: center;")
        div(style="display: inline-block; max-width: 500px; padding: 15px 30px 30px; margin: auto; background-color: #ffffff; border: 1px solid rgba(0, 0, 0, 0.1);")
            h4(style="margin-bottom: 20px;") Log In
            form(action="/login", method="post")
                input(type="text", name="name", class="form-control", placeholder="Username", style="width:85%; margin: auto;")
                br
                input(type="password", name="password", class="form-control", placeholder="Password", style="width:85%; margin: auto;")
                br
                select(class="form-control custom-select", name="account", style="width:85%; margin: auto; display: inherit;")
                    option(value="existing") Existing account
                    option(value="new") New account
                    option(value="school" disabled) School district account
                br
                button(type="submit", class="btn btn-primary", style="width:85%; margin: auto;") Log In
    br
    div(style="text-align: center;")
        div(style="display: inline-block; width: 282px; padding: 15px 30px 5px; margin: auto; background-color: #ffffff; border: 1px solid rgba(0, 0, 0, 0.1);")
            h5(style="margin-bottom: 20px;") Why use Cite?
            p Cite is free, Ad-free, and open source. It is constantly being improved to help you organize all of your citations