extends layout

block content
    br
    div(style="text-align: center;")
        div(style="display: inline-block; max-width: 500px; padding: 15px 30px 30px; margin: auto; background-color: #ffffff; border: 1px solid rgba(0, 0, 0, 0.1);")
            h4(id="loginHeading", style="margin-bottom: 20px;") Log In
            form(action="/login", method="post")
                input(type="text", name="name", class="form-control", placeholder="Username", style="width:85%; margin: auto;")
                br
                input(type="password", name="password", maxLength=72, class="form-control", placeholder="Password", style="width:85%; margin: auto;")
                br
                div(id="referralInput")
                    input(type="text", name="referralCode", maxLength=6 class="form-control", placeholder="Referral code", style="width:85%; margin: auto;")
                    br
                select(class="form-control custom-select", name="account", style="width:85%; margin: auto; display: inherit;", onchange="updateTerminology();")
                    option(value="existing") Existing account
                    option(value="new") New account
                    option(value="referral") New account (referral)
                    option(value="school" disabled) School district account
                br
                button(type="submit", id="loginSubmit", class="btn btn-primary", style="width:85%; margin: auto;") Log In
                script(type="application/javascript").
                    var select = document.getElementsByName("account")[0];
                    var header = document.getElementById('loginHeading');
                    var button = document.getElementById('loginSubmit');
                    var referral = document.getElementById('referralInput');
                    var referralInput = document.getElementsByName('referralCode')[0];

                    if ("#{referralCode}") {
                        select.value = "referral";
                        referralInput.value = "#{referralCode}";
                    }

                    referralInput.oninput = function() {
                        referralInput.value = referralInput.value.toUpperCase().replace(/\W/g, '');
                    };

                    function updateTerminology() {
                        if (select.value == "existing") {
                            header.innerHTML = button.innerHTML = "Log in";
                        } else if (select.value == "new" || select.value == "referral") {
                            header.innerHTML = "New account";
                            button.innerHTML = "Sign up";
                        }

                        if (select.value == "referral") {
                            referral.style.display = "initial";
                        } else {
                            referral.style.display = "none";
                        }
                    }

                    updateTerminology();
    br
    div(style="text-align: center;")
        div(style="display: inline-block; width: 282px; padding: 15px 30px 5px; margin: auto; background-color: #ffffff; border: 1px solid rgba(0, 0, 0, 0.1);")
            h5(style="margin-bottom: 20px;") Why use Cite?
            p Cite is free, Ad-free, and open source. It is constantly being improved to help you organize all of your citations